:root {
  --primary-text-color: #212121;
  --secondary-text-colot: #757575;
  --accent-color: #2196f3;
  --back-ground-color: #2f303a;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --main-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
}

@media (min-width: 1200) {
  .section {
    padding: 94px 0;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-left: 15px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .header {
    padding: 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
  }
}

.logo--dark {
  color: #000000;
}

.nav {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    margin-right: 84px;
  }
}

.nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--time) var(--main-function);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

@media (min-width: 1200px) {
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__item:not(:last-child),
.contacts__item:not(:last-child),
.nav__item-portfolio:not(:last-child),
.nav-contacts-item-portfolio:not(:last-child) {
  display: inline-block;
  margin-right: 50px;
}

.nav__item:nth-child(1)::after {
  content: "";
  width: 48px;
  height: 4px;
  position: absolute;
  top: 77px;
  border-radius: 2px;
  background-color: #2196F3;
}

.nav__item-portfolio:nth-child(2)::after {
  content: "";
  width: 78px;
  height: 4px;
  top: 77px;
  position: absolute;
  border-radius: 2px;
  background-color: #2196F3;
}

.nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media (min-width: 768px) {
  .nav__icon {
    margin-right: 8px;
  }
}

.icon-menu {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 15px;
  background-color: transparent;
  border: none;
}

@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}

.mob-menu-wrap {
  margin-left: 40px;
  margin-bottom: 48px;
}

.mob-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  padding-top: 48px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mob-menu-list {
  margin-left: 40px;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  margin-bottom: 36px;
}

.mob-menu-link {
  margin-bottom: 32px;
}

.mob-menu--current {
  color: var(--accent-color);
}

.mob-menu-cross {
  fill: #000000;
  transition: fill var(--time) var(--main-function);
}

.mob-menu-close:hover .mob-menu-cross,
.mob-menu-close:focus .mob-menu-cross {
  fill: #2196F3;
  cursor: pointer;
}

.burger-menu {
  fill: #000000;
  transition: fill var(--time) var(--main-function);
}

.icon-menu:hover .burger-menu,
.icon-menu:focus .burger-menu {
  fill: #2196F3;
  cursor: pointer;
}

.mob-networks {
  display: flex;
  flex-wrap: wrap;
}

.mob-networks__item:not(:last-child) {
  margin-right: 20px;
}

.mob-networks__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-menu-list__link-tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 32px;
}

.mob-menu-list__link-tel:hover, .mob-menu-list__link-tel:focus {
  color: var(--accent-color);
  font-size: 34px;
  line-height: 1.18;
}

.mob-menu-list__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-list__link-mail:hover, .mob-menu-list__link-mail:focus {
  color: var(--accent-color);
  font-size: 34px;
  line-height: 1.18;
}

.mob-networks__item:not(:first-child)::before {
  content: "";
  width: 0px;
  height: 22px;
  position: absolute;
  margin-left: -10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu-contacts {
  margin-bottom: 64px;
}

.contacts {
  display: none;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 21px;
    margin-bottom: 21px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--time) var(--main-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

@media (min-width: 1200px) {
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

@media (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.main {
  display: block;
  text-align: center;
  padding-bottom: 118px;
  padding-top: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hw-eight/mobile/hero-mob-1x.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: url("../../images/hw-eight/mobile/hero-mob-@2x.webp");
  }
}

@media screen and (min-width: 768px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hw-eight/tablet/hero-1x.webp");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hw-eight/tablet/hero-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hw-eight/desktop/hero-1-2x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hw-eight/desktop/hero-1-2x.jpg");
  }
}

.main__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .main__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  display: inline-block;
  min-width: 200px;
  height: 50px;
  text-align: center;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color var(--time) var(--main-function);
}

.main__button:hover, .main__button:focus {
  background-color: #188ce8;
}

@media (min-width: 768px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media (min-width: 768px) {
  .skills__item {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .skills__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.skills__item:not(:last-child) {
  margin-bottom: 30px;
}

.skills__box {
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 25px 0;
}

.skills__title {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.skills__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.section--work {
  display: none;
  padding-top: 0;
}

@media (min-width: 1200px) {
  .section--work {
    display: flex;
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.work {
  display: flex;
  margin-left: -30px;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.work__label {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: white;
}

.section--team {
  background-color: #f5f4fa;
}

@media (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media (min-width: 1200px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .team__item {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media (min-width: 1200px) {
  .team__item {
    margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 0px;
  }
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__box {
  background-color: #ffffff;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  color: var(--secondary-text-colot);
  text-align: center;
  margin-bottom: 16px;
}

.networks {
  display: flex;
  justify-content: center;
}

.networks__item {
  width: 44px;
  height: 44px;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--time) var(--main-function);
}

.networks__link:hover, .networks__link:focus {
  background-color: #2196f3;
}

.networks__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--time) var(--main-function);
}

.networks__link:hover .networks__icon,
.networks__link:focus .networks__icon {
  fill: #ffffff;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 2);
}

@media (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border var(--time) var(--main-function);
}

.clients__link:hover {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill var(--time) var(--main-function);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--back-ground-color);
  padding: 60px 0;
}

@media (min-width: 1200px) {
  .container-wrap {
    display: flex;
  }
}

.box-address__footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.box-wrap-footer {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .box-wrap-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .box-wrap-footer {
    margin-bottom: 0px;
  }
}

.box-address {
  text-align: center;
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .box-address {
    width: 231px;
    margin-bottom: 0px;
  }
}

.logo--light {
  color: #ffffff;
}

.footer-social__text {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .footer-social {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

address {
  font-style: normal;
}

.footer-address__liink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address__link {
  text-align: center;
  color: var(--address-text-color);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social__icon {
  fill: #ffffff;
}

.networks--footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-form {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-form {
    width: 450px;
    margin-left: 166px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .footer-form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background-color: var(--back-ground-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

@media (min-width: 1200px) {
  .footer-form__input {
    width: 328px;
    margin-bottom: 0px;
  }
}

.footer-form__input::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  display: flex;
  min-width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .footer-form__button {
    margin-left: 12px;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

.container-wrap {
  align-items: baseline;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .filter {
    justify-content: center;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__item:last-child, .filter__item:nth-child(4) {
  margin-top: 8px;
}

@media (min-width: 1200px) {
  .filter__item:last-child, .filter__item:nth-child(4) {
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .filter__item:last-child, .filter__item:nth-child(4) {
    margin-top: 0px;
  }
}

.filter__button {
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--time) var(--main-function), box-shadow var(--time) var(--main-function);
}

.filter__button:hover, .filter__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .photo {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media (min-width: 768px) {
  .photo__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .photo__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.photo__link {
  transition: background-color var(--time) var(--main-function), box-shadow var(--time) var(--main-function);
}

.photo__link:hover, .photo__link:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.photo__box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.photo__card {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.photo__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.photo__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-colot);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform var(--time) var(--main-function);
}

.photo__link:hover .overlay,
.photo__link:focus .overlay {
  transform: translatey(0);
}

.overlay > p {
  color: #fff;
  padding: 63px 24px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time) var(--main-function), visibility var(--time) var(--main-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal {
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    min-height: 609px;
    transform: translate(-50%, -50%);
    transition: transform var(--time) var(--main-function);
  }
}

@media (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  transition: border var(--time) var(--main-function);
}

.modal-close:hover {
  border: 1px solid #2196f3;
}

.form-modal__text-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-modal__name {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.form-modal__username {
  display: block;
  position: relative;
  margin-top: 4px;
}

.form-modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 36px;
  color: #757575;
  transition: border var(--time) var(--main-function);
}

.form-modal__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-modal__input:focus ~ .form-modal__icon {
  fill: #2196F3;
}

.form-modal__comment {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 20px;
}

.form-modal__textarea {
  margin-top: 4px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-modal__textarea::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border var(--time) var(--main-function);
}

.form-modal__textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.form-modal__check-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-modal__check-icon {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.checkbox:checked + .form-modal__check-icon {
  border-color: var(--accent-color);
  background-origin: border-box;
  background-color: #2196F3;
}

.form-modal__link {
  display: inline;
  text-decoration: underline;
}

.form-modal__btn {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin: 0 auto;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

.form-modal__modal-icon {
  fill: #000000;
  transition: fill var(--time) var(--main-function);
}

.form-modal__close:hover .form-modal__modal-icon,
.form-modal__close:focus .form-modal__modal-icon {
  fill: #2196F3;
}

.form-modal__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  transition: border var(--time) var(--main-function);
}

.form-modal__close:hover {
  border: 1px solid #2196f3;
}

@keyframes logoanimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.logo-animation {
  animation: logoanimation 2500ms infinite alternate ease-in-out 1000ms;
}
/*# sourceMappingURL=main.css.map */