.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 60px) / 2);
  @media (min-width: 768px) {
    flex-basis: calc((100% - 90px) / 3);
  }
  @media (min-width: 1200px) {
    flex-basis: calc((100% - 180px) / 6);
  }
}
.clients__link {
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border var(--time) var(--main-function);
  &:hover {
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  fill: #afb1b8;
  transition: fill var(--time) var(--main-function);
  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}
