.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
   @media (min-width: 768px) {
    justify-content: center;
  }
  @media (min-width: 1200px) {
    justify-content: center;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__item:last-child{
  margin-top: 8px;
  @media (min-width: 1200px) {
    margin-top: 0px;
  }
   @media (min-width: 768px) {
    margin-top: 0px;
  }
}
.filter__button {
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color var(--time) var(--main-function),
             box-shadow var(--time) var(--main-function);
    &:hover,
    &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

