.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--back-ground-color);
  padding: 60px 0;
 
}
.container-wrap{
  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.box-address__footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.box-wrap-footer{
  @media (min-width: 768px) {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

}

.box-address{
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 60px;
}

.logo--light {
  color: #ffffff;
}
.footer-social__text{
font-weight: 700;
font-size: 14px;
text-align: center;
line-height: 1.14;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.footer-social{
  margin-bottom: 60px;
  @media (min-width: 768px) {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  @media (min-width: 1200px) {
    margin-left: 70px;
    
  }
}

address {
  font-style: normal;
}

.footer-address__liink{
font-weight: 500;
font-size: 14px;
line-height: 1.71;
text-align: center;
letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address__link {
  text-align: center;
  color: var(--address-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}


.footer-social__icon{
  fill: #ffffff;
}

.networks--footer{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: 1200px) {
    width: 358px;
    margin-left: 93px;
  }
}

.footer-form__input{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--back-ground-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: rgba(255, 255, 255, 0.6);
padding-left: 16px;

}

.footer-form__input::placeholder{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  font-weight: 500;
font-size: 16px;
line-height: 1.25;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-form__button{
  display: flex;
min-width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
padding: 10px 29px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #FFFFFF;
}

.footer-form__icon{
  margin-left: 10px;
}





