.contacts {
  display: none;
  margin-left: auto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media (min-width: 1200px) {
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 218px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--time) var(--main-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media (min-width:768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  @media (min-width: 1200px) {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
    
  }
}

.contacts__item:not(:last-child){
  @media (min-width: 768px) {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  margin-bottom: 0px;
}
}

