.header{
  position: relative;
  border-bottom: 1px solid #ececec;
}
.header__container{
  display: flex;
  align-items: center;
  position: relative;

}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo--dark {
  color: #000000;
}
.logo-animation{ 
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
}


.nav {
  display: none;
}

.nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--main-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}



.nav__link--current {
  color: var(--accent-color);
}

.nav__item:not(:last-child),
.contacts__item:not(:last-child),
.nav__item-portfolio:not(:last-child),
.nav-contacts-item-portfolio:not(:last-child) {
  display: inline-block;
  margin-right: 50px;
}

.nav__item:nth-child(1)::after{
content: "";
width: 48px;
height: 4px;
position: absolute;
top: 77px;
border-radius: 2px;
background-color:  #2196F3;
}

.nav__item-portfolio:nth-child(2)::after{
content: "";
width: 78px;
height: 4px;
top: 77px;
position: absolute;
border-radius: 2px;
background-color:  #2196F3;
}

.nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
.icon-menu{
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.mob-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right: 0;
    padding-top: 48px;
    padding-left: 40px;

}

.mob-menu-close {
    display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mob-menu-list {
    margin-bottom: 64px;
}


.mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.mob-menu-list__link{
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #212121;
margin-bottom: 36px;
}

.mob-menu-link{
  margin-bottom: 32px;
}


.mob-menu--current{
  color: var(--accent-color);
}

.mob-menu-cross{
  fill: #000000;
transition: fill var(--time) var(--main-function);
    .mob-menu-close:hover &,
    .mob-menu-close:focus &{
    fill: #2196F3;
    cursor: pointer;
    }
}
.burger-menu{
  fill: #000000;
transition: fill var(--time) var(--main-function);
    .icon-menu:hover &,
    .icon-menu:focus &{
    fill: #2196F3;
    cursor: pointer;
    }
}
.mob-networks{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 44px;
  left: 97px;
}
.mob-networks__item:not(:last-child){
  margin-right: 20px;
}

.mob-networks__link{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}


.mob-menu-list__link-tel{
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #2196F3;
margin-bottom: 32px;
}

.mob-menu-list__link-mail{
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #757575;
}

.mob-menu-contacts{
  position: absolute;
  bottom: 134px;
  left: 40px
}

.mob-networks__item:not(:first-child)::before{
content: "";
width: 0px;
height: 22px;
position: absolute;
margin-left: -10px;
border: 1px solid rgba(33, 33, 33, 0.2);
}