.main {
  display: block;
  text-align: center;
  padding-bottom: 118px;
  padding-top: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hw-eight/mobile/hero-mob-1x.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   @media screen and (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url('../../images/hw-eight/mobile/hero-mob-@2x.webp');
   }
  
     @media screen and (min-width: 768px) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hw-eight/tablet/hero-1x.webp');
     }

    @media screen and (min-width:768px) and (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx){
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hw-eight/tablet/hero-2x.jpg');    
}
 @media  screen and (min-width: 1200px) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hw-eight/desktop/hero-1-2x.jpg');
     }
  
    @media screen and (min-width:1200px)  and (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hw-eight/desktop/hero-1-2x.jpg');
}
}

.main__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-bottom: 30px;
  @media (min-width:1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

.main__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);

  display: inline-block;
  min-width: 200px;
  height: 50px;
  text-align: center;
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color var(--time) var(--main-function);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

