.modal{
padding: 40px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
@media (min-width: 768px) {
  position: absolute;
  top: 50%;
left: 50%;
min-width: 450px;
min-height: 609px;
transform: translate(-50%, -50%);
transition: transform var(--time) var(--main-function);
}
@media (min-width:1200px) {
  min-width: 528px;
min-height: 581px;
  
}
}



.modal-close{
display: flex;
align-items: center;
justify-content: center;

position: absolute;
top: 8px;
right: 8px;

width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
background-color: transparent;
transition: border var(--time) var(--main-function);
   &:hover{
   border: 1px solid #2196f3;
  }
}

.form-modal__text-link{
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #757575;
}