.skills{
  @media (min-width: 768px) {
 display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
} 
}
.skills__item{
  @media (min-width: 768px) {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
   @media (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.skills__item:not(:last-child){
  margin-bottom: 30px;
}

.skills__box{
  display: flex;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 25px 0;
}

.skills__title {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.skills__text {
  font-weight: 500;
font-size: 14px;
line-height: 1.71;
  color: #757575;
}
