.section--team{
background-color: #f5f4fa;
}

.team {
  @media (min-width: 768px) {
   display: flex;
  flex-wrap: wrap;
    margin-left: -30px;
  }
 @media (min-width: 1200px) {
   display: flex;
   flex-wrap: wrap;
   margin-left: -30px;
   
 }

}

.team__item{
    @media (min-width: 768px) {
      margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
     @media (min-width: 1200px) {
       margin-left: 30px;
    flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 0px;
  }
}

.team__item:not(:last-child){
  margin-bottom: 30px;
}
.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__box {
  background-color: #ffffff;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  font-weight: 500;
  color: var(--secondary-text-colot);
  text-align: center;
  margin-bottom: 16px;
}