.section--work {
  display: none;
  padding-top: 0;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work {
  display: flex;
  margin-left: -30px;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}


 .work__label{
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(47, 48, 58, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    }